default: &default
  database: <%= ENV.fetch("DATABASE", "cache") %>
  store_options:
    max_size: <%%= 256.megabytes %>
    namespace: <%%= Rails.env %>

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
