<!DOCTYPE html>
<html>
<head>
  <title>Active support database cache</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "solid_cache/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
